body {
 background-color:aquamarine;
 align-content: center;
 text-align: center;
 margin: 0 auto;
 padding: 20px;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1{
    font-size: 55px;
}
section {
    background-color: white;
    width: auto;
    text-align: center;
    align-content: center;
    border-radius: 15px;
    box-shadow: 3px 4px 10px 1px;
    font-size: 30px
    
}

div {
    padding: 20px;
}

footer {
    font-family:'Times New Roman', Times, serif;
    margin-top: 15px;
    font-size: 20px;
    font-style: italic;
}

